#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
    padding: 32px;
    background: var(--mainWhite);
    border-bottom: 1px solid var(--borderGray);
    margin-bottom: 46px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo h1{
    font-family: var(--fontOpenSans);
    color: var(--mainBlack);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.28px;
}

.nav-bar ul{
    display: flex;
    gap: 40px;
}

.nav-bar ul li a{
    color: var(--mainBlack);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
}

.nav-bar ul li:last-child a {
    color: var(--mainGreen);
    font-weight: 800;
}

.ham-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* MAIN */

/* A new model for open collaboration */

.info{
    display: flex;
    flex-direction: row-reverse;
    gap: 37px;
    padding: 0 31px;
    margin-bottom: 187px;
}

.info-img{
    display: flex;
    flex: 1;
}
.info-img img{
    width: 100%;
    height: 100%;
}

.info-img-mobile{
    display: flex;
    flex: 1;
    display: none;
}

.info-img-mobile img{
    width: 100%;
    height: 100%;
}

.info-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-text h2{
    color: var(--mainBlack);
    font-size: 70px;
    font-weight: 700;
    line-height: 80px; /* 114.286% */
}

.info-text p{
    color: var(--mainGrey);
    font-family: var(--fontOpenSans);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}

.info-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 39px;
    flex: 1;
}

.info-content button{
    border-radius: 8px;
    background-color: var(--mainGreen);
    border: none;
    padding: 20px 24px;
    color: var(--mainWhite);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    cursor: pointer;
    transition: all 0.3s;
}

.info-content button:hover {
    opacity: 0.7;
}

/* Reimagining what it means to work */

.reimagining{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 56px;
    margin-bottom: 190px;
}

.reimagining-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.reimagining-cards{
    display: flex;
    gap: 23px;
}

.reimagining-title h3{
    color: var(--mainBlack);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
}

.reimagining-title p{
    color: var(--mainBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}

.reimagining-par-mobile{
    display: none;
}

.card{
    width: 100%;
    height: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
    border-radius: 8px;
    background: var(--mainWhite);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.card img{
    width: 104px;
    height: 88px;
    margin-bottom: 24px;
}

.card-title{
    color: var(--mainBlack);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin-bottom: 16px;
}

.card-par{
    color: var(--mainBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}

/* Kickstart an organization with your co-founders */

.kickstart{
    display: flex;
    padding: 0 118px 0 56px;
    justify-content: space-between;
    margin-bottom: 131px;
    gap: 138px;
}

.kickstart-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 644px;
}

.kickstart-info img{
    width: 80px;
}

.kickstart-info h4{
    color: var(--mainBlack);
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}

.kickstart-info p{
    color: var(--mainBlack);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}

.members{
    border-radius: 16px;
    border: 4px solid var(--mainBlack);
    background: var(--mainWhite);
    padding: 32px 40px;
    width: 484px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.members-title{
    color: var(--mainBlack);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px;
}

.members-profile{
    display: flex;
    gap: 12px;

}

.members-profile img{
    border: solid 0;
    border-radius: 40px;
}

.members-profile p:first-child{
    color: var(--mainBlack);
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    line-height: 26px; /* 108.333% */
    letter-spacing: -0.48px;
}

.members-profile p:last-child{
    color: #66645E;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
}

.members-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

/* Onboard users, investors and advisors as you grow */

.onboard{
    display: flex;
    padding: 0 54px 0 80px;
    margin-bottom: 160px;
    justify-content: space-between;
    gap: 178px;
}

.jassir-card{
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    border-radius: 16px;
    border: 4px solid var(--mainBlack);
    background: var(--mainWhite);
    width: 484px;
}

.jassir-info{
    display: flex;
    gap: 12px;
    margin-bottom: 28px;
}

.jassir-info img{
    border: solid none;
    border-radius: 36px;
}

.jassir-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.jassir-name p:first-child{
    color: var(--mainBlack);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}

.jassir-name p:last-child{
    color: #66645E;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
}

.jassir-card-par{
    color: var(--mainBlack);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
    margin-bottom: 48px;
}

.jassir-stat{
    margin-bottom: 32px;
}

.jassir-stat ul{
    display: flex;
    gap: 100px;
}

.jassir-stat ul li{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.jassir-stat ul li span{
    color: #66645E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.32px;
}

.jassir-stat ul li{
    color: var(--mainBlack);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}

.jassir-card button{
    color: var(--mainWhite);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    cursor: pointer;
    transition: all 0.3s;
    padding: 12px 24px;
    border: none;
    border-radius: 16px;
    background: var(--mainBlack);
}

.jassir-card button:hover{
    opacity: 0.7;
}

.onboard-info{
    width: 644px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.onboard-info img{
    width: 80px;
}

.onboard-info h5{
    color: var(--mainBlack);
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}

.onboard-info p{
    color: var(--mainBlack);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}

/* Engage highly committed contributors */

.engage{
    display: flex;
    padding: 0 61px 0 56px;
    margin-bottom: 184px;
    justify-content: space-between;
    gap: 46px;
}

.engage-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 644px;
}

.engage-info img{
    width: 64px;
}

.engage-info h6{
    color: var(--mainBlack);
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}

.engage-info p{
    color: var(--mainBlack);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}

.engage-cards{
    display: flex;
    flex-direction: column;
    width: 631px;
    gap: 13px;
}

.engage-card-top{
    border-radius: 16px;
    border: 4px solid var(--mainBlack);
    background: var(--mainWhite);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.engage-card-top p{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}

.engage-card-top-title{
    display: flex;
    justify-content: space-between;
}

.engage-card-top-title p:first-child{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: -0.36px;
}

.engage-card-top-title p:last-child{
    border-radius: 40px;
background: var(--Green, #71A894);
padding: 4px 8px;
color: var(--White, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}

.engage-cards-bottom{
    display: flex;
    gap: 12px;
}

.engage-cards-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 381px;

    border-radius: 16px;
border: 4px solid var(--Black, #303031);
background: var(--Light-Gold, #F3F0EA);
padding: 32px 40px;
}

.engage-cards-bottom-left p{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: -0.48px;
}

.applicants{
    display: flex;
    gap: 16px;
}

.applicants p{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 20px;
font-style: italic;
font-weight: 100;
line-height: 24px; /* 120% */
letter-spacing: -0.4px;
}

.applicants img{
    border: none;
    border-radius: 20px;
}
.applicants p{
    display: flex;
    align-items: center;
}

.engage-cards-bottom-right{
    border-radius: 16px;
border: 4px solid var(--Green, #71A894);
background: var(--White, #FFF);
    padding: 24px;
    width: 240px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.alex-photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.alex-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.alex-photo img{
    border-radius: 36px;
}

.engage-cards-bottom-right p{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}

.engage-cards-bottom-right button{
    border-radius: 16px;
background: var(--Black, #303031);
border: none;
cursor: pointer;
transition: all 0.3s;
padding: 12px 24px;

color: var(--White, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
letter-spacing: -0.32px;
}

.engage-cards-bottom-right button:hover{
    opacity: 0.7;
}

/* Help us improve Open Enterprise */

.help{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 52px;

}

.help-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 895px;
}

.help-info p:first-child{
    color: var(--Black, #303031);
text-align: center;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 64px; /* 133.333% */
}

.help-info p:last-child{
    color: var(--Black, #303031);
text-align: center;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
}

.help-cards{
    display: flex;
    gap: 28px;
}

.help-card{
    border-radius: 16px;
background: var(--White, #FFF);
padding: 24px;
display: flex;
flex-direction: column;
gap: 24px;
width: 100%;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.help-card-par{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.help-card p:first-child{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
letter-spacing: -0.36px;
}

.help-card p:last-child{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}

.help-card-bottom{
    display: flex;
    justify-content: space-between;
}

.help-card-bottom p:first-child{
    border-radius: 40px;
background: var(--Green, #71A894);
padding: 4px 8px;
color: var(--White, #FFF);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}

.help-card-bottom p:last-child{
    color: var(--Black, #303031);
text-align: right;
font-family: Roboto;
font-size: 16px;
font-style: italic;
font-weight: 100;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
}

.wiew-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    margin-bottom: 44px;
}

.wiew-more button{
    width: 134px;
    border-radius: 8px;
    border: none;
background: var(--Black, #303031);
cursor: pointer;
transition: all 0.3s;
padding: 20px 24px;
color: var(--White, #FFF);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
}

.wiew-more button:hover{
    opacity: 0.7;
}

/* Start an Open Enterprise */

.start{
    display: flex;
    padding: 0 56px;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 120px;
}

.start-image{
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}
.start-info{
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    gap: 40px;
}

.start-info-title{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.start-info-title p:first-child{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 64px; /* 133.333% */
}

.start-info-title p:last-child{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
letter-spacing: -0.36px;
}

.start-info button{
    width: 220px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
background: #71A894;
padding: 20px 24px;
color: var(--White, #FFF);
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 133.333% */
}

.start-info button:hover{
    opacity: 0.7;
}

/* FOOTER */

#footer{
    display: flex;
    justify-content: space-between;
    padding: 0 56px;
    margin-bottom: 40px;
}

.footer-logo{
    color: var(--Black, #303031);
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.96px;
}

.footer-nav ul{
    display: flex;
    gap: 40px;
}

.footer-nav ul li a{
    color: var(--Black, #303031);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.4px;
}

.footer-nav ul li:last-child a{
    color: var(--mainGreen);
    font-weight: 700;
}

/* THE END :) */

/* Ayaz Ayazov | All rights reserved. */