#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
    padding: 32px;
    border-bottom: 1px solid var(--borderGray);
    margin-bottom: 46px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--fontOpenSans);
    color: var(--mainBlack);
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1.28px;
}

.nav-bar ul{
    display: flex;
    gap: 40px;
}

.nav-bar ul li a{
    color: var(--mainBlack);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
}

.nav-bar ul li:last-child a {
    color: var(--mainGreen);
    font-weight: 800;
}

.ham-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* MAIN */

.info{
    display: flex;
    flex-direction: row-reverse;
    gap: 37px;
    padding: 0 31px;
    margin-bottom: 187px;
}

.info-img{
    display: flex;
    flex: 1;
}
.info-img img{
    width: 100%;
    height: 100%;
}

.info-img-mobile{
    display: flex;
    flex: 1;
    display: none;
}

.info-img-mobile img{
    width: 100%;
    height: 100%;
}

.info-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info-text h2{
    color: var(--mainBlack);
    font-size: 70px;
    font-weight: 700;
    line-height: 80px; /* 114.286% */
}

.info-text p{
    color: var(--mainGrey);
    font-family: var(--fontOpenSans);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}

.info-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 39px;
    flex: 1;
}

.info-content button{
    border-radius: 8px;
    background-color: var(--mainGreen);
    border: none;
    padding: 20px 24px;
    color: var(--mainWhite);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    cursor: pointer;
    transition: all 0.3s;
}

.info-content button:hover {
    opacity: 0.7;
}

/* Reimagining what it means to work */

.reimagining{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 56px;
    margin-bottom: 190px;
}

.reimagining-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.reimagining-cards{
    display: flex;
    gap: 23px;
}

.reimagining-title h3{
    color: var(--mainBlack);
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
}

.reimagining-title p{
    color: var(--mainBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}

.reimagining-par-mobile{
    display: none;
}

.card{
    width: 100%;
    height: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
    border-radius: 8px;
    background: var(--mainWhite);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}

.card img{
    width: 104px;
    height: 88px;
    margin-bottom: 24px;
}

.card-title{
    color: var(--mainBlack);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    margin-bottom: 16px;
}

.card-par{
    color: var(--mainBlack);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
}

/* Kickstart an organization with your co-founders */

.kickstart{
    display: flex;
    padding: 0 118px 0 56px;
    gap: 138px;
    margin-bottom: 131px;
}

.kickstart-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 644px;
}

.kickstart-info img{
    width: 80px;
}

.kickstart-info h4{
    color: var(--mainBlack);
    font-size: 48px;
    font-weight: 800;
    line-height: 64px; /* 133.333% */
}

.kickstart-info p{
    color: var(--mainBlack);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}

.members{
    border-radius: 16px;
    border: 4px solid var(--mainBlack);
    background: var(--mainWhite);
    padding: 32px 40px;
    width: 484px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.members-title{
    color: var(--mainBlack);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px;
}

.members-profile{
    display: flex;
    gap: 12px;

}

.members-profile img{
    border: solid 0;
    border-radius: 40px;
}

.members-profile p:first-child{
    color: var(--mainBlack);
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    line-height: 26px; /* 108.333% */
    letter-spacing: -0.48px;
}

.members-profile p:last-child{
    color: #66645E;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: -0.32px;
}

.members-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}